name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
      - name: Lint
        run: mise run lint
  generate-matrix:
    needs: lint
    runs-on: ubuntu-latest
    outputs:
      ruby_versions: ${{ steps.generate.outputs.ruby_versions }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Generate JSON
        id: generate
        run: ./scripts/generate-matrix.py
  build-linux:
    needs: generate-matrix
    strategy:
      matrix:
        distro: ['ubuntu:22.04', 'ubuntu:24.04', 'alpine:3.21']
        os: ['ubuntu-24.04', 'ubuntu-24.04-arm']
        ruby_version: ${{ fromJson(needs.generate-matrix.outputs.ruby_versions) }}
        exclude:
          # Error: JavaScript Actions in Alpine containers are only
          # supported on x64 Linux runners. Detected Linux Arm64
          # See: https://github.com/actions/runner/issues/801
          - os: ubuntu-24.04-arm
            distro: alpine:3.21
    runs-on: ${{ matrix.os }}
    container:
      image: ${{ matrix.distro }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Setup variables
        id: variables
        run: ./scripts/setup-variables.sh ${{ matrix.distro }} ${{ matrix.ruby_version }}
      - name: Setup container
        run: ./scripts/setup-container.sh ${{ steps.variables.outputs.distro_name }} ${{ matrix.ruby_version }}
      - name: Set up .tool-versions
        run: ./scripts/set-tool-versions.sh ${{ matrix.ruby_version }}
      - uses: asdf-vm/actions/setup@b7bcd026f18772e44fe1026d729e1611cc435d47 # v4
      - uses: asdf-vm/actions/install@b7bcd026f18772e44fe1026d729e1611cc435d47 # v4
        env:
          RUBY_CONFIGURE_OPTS: --enable-load-relative ${{ steps.variables.outputs.yjit_arg }}
      - name: Ruby version
        id: ruby
        run: ./scripts/validate-ruby.sh ${{ matrix.ruby_version }}
      - name: Generate SBOM
        uses: anchore/sbom-action@0b82b0b1a22399a1c542d4d656f70cd903571b5c # v0.21.1
        with:
          artifact-name: ruby-${{ matrix.ruby_version }}_${{ steps.variables.outputs.os }}-${{ steps.variables.outputs.arch }}_${{ steps.variables.outputs.distro_name }}-${{ steps.variables.outputs.distro_version }}.sbom.spdx.json
          path: ${{ steps.ruby.outputs.install_location }}
          upload-artifact-retention: 1
          upload-release-assets: false
      - name: Archive Ruby installation
        id: archive_ruby
        run: ./scripts/archive-ruby.sh ${{ steps.variables.outputs.distro_name }} ${{ steps.variables.outputs.distro_version }} ${{ matrix.ruby_version }}
      - name: Upload Ruby tarball as artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: ${{ steps.archive_ruby.outputs.ruby_tarball_filename }}
          path: ${{ steps.archive_ruby.outputs.ruby_tarball_path }}
          retention-days: 1
  build-macos:
    needs: generate-matrix
    strategy:
      matrix:
        ruby_version: ${{ fromJson(needs.generate-matrix.outputs.ruby_versions) }}
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Ensure recent bash is installed
        run: brew install bash
      - name: Setup variables
        id: variables
        run: ./scripts/setup-variables.sh none:none ${{ matrix.ruby_version }}
      - name: Set up macOS
        run: ./scripts/setup-macos.sh ${{ matrix.ruby_version }}
      - name: Set up .tool-versions
        run: ./scripts/set-tool-versions.sh ${{ matrix.ruby_version }}
      - uses: asdf-vm/actions/setup@b7bcd026f18772e44fe1026d729e1611cc435d47 # v4
      - uses: asdf-vm/actions/install@b7bcd026f18772e44fe1026d729e1611cc435d47 # v4
        env:
          RUBY_CONFIGURE_OPTS: --enable-load-relative ${{ steps.variables.outputs.yjit_arg }}
      - name: Ruby version
        id: ruby
        run: ./scripts/validate-ruby.sh ${{ matrix.ruby_version }}
      - name: Generate SBOM
        uses: anchore/sbom-action@0b82b0b1a22399a1c542d4d656f70cd903571b5c # v0.21.1
        with:
          artifact-name: ruby-${{ matrix.ruby_version }}_${{ steps.variables.outputs.os }}-${{ steps.variables.outputs.arch }}_${{ steps.variables.outputs.distro_name }}-${{ steps.variables.outputs.distro_version }}.sbom.spdx.json
          path: ${{ steps.ruby.outputs.install_location }}
          upload-artifact-retention: 1
          upload-release-assets: false
      - name: Archive Ruby installation
        id: archive_ruby
        run: ./scripts/archive-ruby.sh ${{ steps.variables.outputs.distro_name }} ${{ steps.variables.outputs.distro_version }} ${{ matrix.ruby_version }}
      - name: Upload Ruby tarball as artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: ${{ steps.archive_ruby.outputs.ruby_tarball_filename }}
          path: ${{ steps.archive_ruby.outputs.ruby_tarball_path }}
          retention-days: 1
  upload-tarballs:
    needs: [build-linux, build-macos]
    runs-on: ubuntu-24.04
    permissions:
      # Needed for release upload
      contents: write
      # Needed for build provenance
      id-token: write
      attestations: write
    concurrency:
      group: upload-tarballs
      cancel-in-progress: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Update binaries tag to latest commit in main
        if: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          git tag --force binaries ${{ github.sha }}
          git push --force origin binaries
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Download Ruby tarballs from artifact repository
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          merge-multiple: true
      - name: Generate checksums
        run: shasum --algorithm 256 --binary ruby-*.tar.xz ruby-*.sbom.spdx.json > checksums.txt
      - name: Determine release tag
        id: release_tag
        run: echo "tag_name=$(date +%Y%m%d)" >> "$GITHUB_OUTPUT"
        env:
          TZ: UTC
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@00014ed6ed5efc5b1ab7f7f34a39eb55d41aa4f8 # v3.1.0
        with:
          subject-checksums: checksums.txt
      - name: Upload to binaries release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        if: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
        with:
          files: |
            ruby-*.tar.xz
          fail_on_unmatched_files: true
          tag_name: binaries
      - name: Upload to date-based release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        if: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
        with:
          files: |
            checksums.txt
            ruby-*.tar.xz
          fail_on_unmatched_files: true
          tag_name: ${{ steps.release_tag.outputs.tag_name }}
          make_latest: true
